@page "/RAM"
@implements IDisposable

<PageTitle>Rover Attachment Manager</PageTitle>

<style>
    a {
        text-decoration: none;
    }
</style>

<div class="container">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item"><a data-toggle="tab" class='nav-link @(_activeTab == "Autonomy" ? "active" : "")' @onclick='() => SetActiveTab("Autonomy")'><h2 style="color: red">Autonomy</h2></a></li>
        <li class="nav-item"><a data-toggle="tab" class='nav-link @(_activeTab == "Arm" ? "active" : "")' @onclick='() => SetActiveTab("Arm")'><h2 style="color: red;">Arm</h2></a></li>
        <li class="nav-item"><a data-toggle="tab" class='nav-link @(_activeTab == "Science" ? "active" : "")' @onclick='() => SetActiveTab("Science")'><h2 style="color: red;">Science</h2></a></li>
    </ul>
    <div class="tab-content">
        <div class='tab-pane @(_activeTab == "Autonomy" ? "show active" : "")' id="Autonomy">
            
        </div>
        <div class='tab-pane @(_activeTab == "Arm" ? "show active" : "")' id="Arm">
            
        </div>
        <div class='tab-pane @(_activeTab == "Science" ? "show active" : "")' id="Science">
            
        </div>
    </div>
</div>

@code
{
    // Declare page member variables.
    private string _activeTab = "Autonomy";

    // Flags.

    protected override void OnInitialized()
    {
        // Nothing to do yet.
    }

    protected override async Task OnInitializedAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    void IDisposable.Dispose()
    {
    }

    /// <summary>
    /// Used to switch tabs when a new one is clicked.
    /// </summary>
    /// <param name="tabName">The name of the new tab.</param>
    private void SetActiveTab(string tabName)
    {
        _activeTab = tabName;
    }
}
